 <div class="container">
    <!-- <div *ngIf= "search"> -->
        <h1>Github User Name Search</h1>
        <div class="form">
        <form (ngSubmit)="userSubmit()">
            
            <input type="text" name="userName" class="form-control" placeholder="Enter your Username" [(ngModel)]=userName>
            <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
          </form>
          <!-- <form (ngSubmit)="userSubmit()"> -->
            
            <!-- <input type="text" name="userRepo" class="form-control" placeholder="Find Repository" [(ngModel)]=userName>
            <button class="btn btn-outline-success btn-sm" type="submit">Find</button>
          </form> -->
        </div>

        <div class="logo">
        </div>

         <div class="panel panel-default"> 
             <div class="search heading">
                
                 <div id="pract">
                  <h2>{{service.login}}</h2> 
                </div>
                <br>
             
            </div>
        </div>
    <img class="img" src="{{service.avatar_url}}" >
    <!-- <small>{{service.log}}</small>  -->
       <!-- <span>studies at {{service.company}}</span> -->
  
       
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item" *ngIf="service.bio">{{service.bio}}</li>
                    <li class="list-group-item" *ngIf="service.twitter_username">{{service.twitter_username}}</li>
                    <li class="list-group-item" *ngIf="service.location">{{service.location}}</li>
                    <li class="list-group-item" *ngIf="service.hireable">{{service.hireable}}</li>
                    <li class="list-group-item" *ngIf="service.created_at">{{service.created_at}}</li>
                    <li class="list-group-item" *ngIf="service.updated_at">{{service.updated_at}}</li>
                </ul>
            </div>
        </div>

     <div class="col-sm-5">
        <p>
         <span class="lebel label-default">{{service.followers}} Followers</span>
        </p>
        <p>
         <span class="lebel label-default">{{service.following}} Following</span>
         <!-- <span class="lebel label-default">{{service.public_gist}} Followers</span> -->
         <!-- <span class="lebel label-default">{{service.public_followers}}public</span> -->
        </p>
    </div>
    </div>