.img{
    border-radius: 70%;
    width: 200px;
}
.col-sm-5{
    font-size: large;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}
h1{
    text-shadow:yellow;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.panel-body{
    background-color: transparent;
    text-transform: auto;
}
.logo{
background-size: cover;
}
pannel-body{
    color: white;
    
}